*, *:after, *:before {

  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*myCSS*/
body {
	background: #ffffff;
	font: 16px/21px Helvetica, Arial, sans-serif;
	min-width: 1024px;
}
.wrapper {
	height: 100vh;
}

.header {
	background: #000;
	padding: 24px 48px;
	color: white;
	display: flex;
	justify-content: space-between;
	width: 1024px;
	margin: 0 auto;
}
.logo {
	color: white;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}
.nav-menu {
	display: flex;
	font-size: 16px;
	color: #ffffff;
}
.nav-menu span {
	cursor: pointer;
	margin-left: 32px;
 }

.main {
	display: flex;
	width: 1024px;
	margin: 0 auto;
}
.sidebar {
	font-size: 16px;
	line-height: 21px;	
}
.sidebar-container{
	color: #000;
	width: 240px;
}
.sb-menu {
	padding: 32px 48px;
}
.sb-menu li{
	margin-bottom: 16px;
}
.sb-menu li a {
	color: black;
	text-decoration: none;
}

.content {
	flex-grow: 1;
}
h2 {
	color: #d5c4b2;
	padding: 24px 48px; 
	border-bottom: 1px solid #d5c4b2;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 24px;
}

.paragraph {
	padding: 0 48px;
}

.paragraph p {
	margin-bottom: 32px;
}

.content {
	border-left: 1px solid #d5c4b2;
}


